{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col">
    <h1 class="text-center">パスワード変更画面</h1>
  </div>
</div>
<div class="row">
  <div class="col-md"></div>
  <div class="col-md-6">
    <form>
      <div class="form-group row">
          <label for="passowrd" class="col-sm-3 col-form-label">Password</label>
          <div class="col-md-9">
            <input type="passowrd" id="passowrd" class="form-control" placeholder="現在のpassowrdを入力してください">
          </div>
        </div>  
      <div class="form-group row">
        <label for="passowrd" class="col-sm-3 col-form-label">新しいPassword</label>
        <div class="col-md-9">
          <input type="passowrd" id="new_passowrd" class="form-control" placeholder="新しいpassowrdを入力してください">
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">パスワード変更画面</button>
    </form>
  </div>
  <div class="col-md"></div>
</div>
{% endblock %}